:root {
    --font-family: 'Rubik', sans-serif;
    --text-menu: #4a4a4a;
    --backg-color: #3CDBC0;
    --title-color: #FFFFFF;
    --backg-header: white;
}

body {
    font-family: var(--font-family);
}

.logo {
    width: 155px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    width: 100vw;
    /*todo el ancho de la pantalla*/
    background-color: var(--backg-header);
    /*font-family: var(--font-family);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.ul {
    color: var(--text-menu);
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
}

.link-nav {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-menu);
    padding: 10px;
}

.main {
    background-color: var(--backg-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-family: var(--font-family);*/
}

.title {
    color: var(--title-color);
    /* font-family: var(--font-family);*/
    font-size: 30px;
    font-weight: 600;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    text-transform: capitalize;
}

@media all and (min-width: 768px) {
    .title {
        font-size: 40px;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
    }

    .logo {
        padding-left: 30px;
        padding-bottom: 20px;
        margin: 0;
    }

    .ul {
        padding-right: 30px;
    }
}