:root{
    --font-family: 'Rubik', sans-serif;
    --text-menu: #4a4a4a;
    --backg-color: #3CDBC0;
    --title-color: #FFFFFF;
    --backg-header: white;
}

.logo{
    width: 155px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header{
    width: 100vw; /*todo el ancho de la pantalla*/
    background-color: var(--backg-header);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.ul{
    color: var(--text-menu);
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 13px;
}

.main{
    background-color: var(--backg-color);
    color: var(--title-color);
    font-family: var(--font-family);
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}